html, body {
    height: 100%;
    margin: 0;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    display: none;
}

.box1 {
    height: 100%;
}

.box2 {
    position: relative;
    background-color: white;
    height: 100%;
  }

.layout-list {
    display: grid;
    gap: 50px;
    grid-template-columns: auto auto auto;
    padding: 10px;
}

.layout-list > div {
    color: black;
    background-color: white;
    border: 2px solid #008CBA;
    border-radius: 8px;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    transition-duration: 0.4s;
}

.layout-list > div:hover {
    background-color: #008CBA;
    color: white;
}

.start {
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -75%);
}

.button {
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
    border-radius: 8px;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button:hover {
    background-color: #008CBA;
    color: white;
}